* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-transform: uppercase;
    letter-spacing: .5em;
    margin-top: 15%;
    background: linear-gradient(to right, rgb(129, 234, 193), rgb(240, 127, 210));
    text-align: center;
}

h1{
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

h3 {
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    margin-top: 3%;
    text-transform: none;
    letter-spacing: 0.01em;
}


